<%- layout('layout.ejs') %>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr><th>Province</th><th>Capital</th></tr>
        <% capitals.forEach(function(capital) { %>
        <tr>
            <td><%= capital.province %></td>
            <td><%= capital.capital %></td>
        </tr>
        <% }); %>  
    </table>
</div>